---
import Container from "./Container.astro"

---

<div id="blog">
  <Container>
      <div class="mb-12 space-y-2 text-center">
        <h2 class="text-3xl font-bold text-gray-800 md:text-4xl dark:text-white">最新文章</h2>
        <p class="lg:mx-auto lg:w-6/12 text-gray-600 dark:text-gray-300">
          如果你不知如何巩固友谊，或者不知如何成长，甚至或者渴望创造一些至少自己认为有意思的东西，那么或许我可以给你带来一些启迪。
        </p>
      </div>
      <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="https://images.unsplash.com/photo-1661749711934-492cd19a25c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
              你的密码能通过考验吗？检测一下！
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              本文将以通俗易懂的方式解释密码强度检测算法的原理，并介绍桃李密码强度检测工具......
            </p>
            <a class="inline-block" href="https://mp.weixin.qq.com/s/Ro-TH5-h-hqFIoC2ndvALQ" target="_blank">
              <span class="text-info dark:text-blue-300">阅读更多</span>
            </a>
          </div>
          
        </div>
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="https://images.unsplash.com/photo-1491895200222-0fc4a4c35e18?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
              学习动机差异的探索：个人学习态度的多样性原因
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              每个人在学习上的方式和态度都有所差异，这种差异的根源之一就是学习动机......
            </p>
            <a class="inline-block" href="https://mp.weixin.qq.com/s/UQ7rtwrjKwMP9uiYV5Xt-g" target="_blank">
              <span class="text-info dark:text-blue-300">阅读更多</span>
            </a>
          </div>
          
        </div>
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="https://images.unsplash.com/photo-1620121692029-d088224ddc74?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
              科学与哲学的朝圣之路<br/><br/>
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              科学与哲学的尽头是一样的，都是探索人生和宇宙的终极奥秘......
            </p>
            <a class="inline-block" href="https://mp.weixin.qq.com/s/P04QR-bYs9ZdXLawgqfztw" target="_blank">
              <span class="text-info dark:text-blue-300">阅读更多</span>
            </a>
          </div>
          
        </div>
      </div>
  </Container>
</div>