---
import Container from "./Container.astro"

---

<div class="text-gray-600 dark:text-gray-300" id="reviews">
  <Container>
    <div class="mb-20 space-y-4 px-6 md:px-0">
      <h2 class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">
        受到数千人的信赖
      </h2>
    </div>
    <div class="md:columns-2 lg:columns-3 gap-8 space-y-8">
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/02.jpeg" alt="user avatar" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">阿兰图图</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">移动端开发者</p>
          </div>
        </div>
        <p class="mt-8">我觉得桃李擅长让别人开口说话，他们能以全新的方式思考：他们所做的并非是针对目标人群的普通产品改进，而是在用户还没有意识到其需求的时候，就为其提供全新的服务。他给了我一把锤子，这样我就能跟他一起干活儿了。</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/03.jpeg" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">娜可可露</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">市场营销</p>
          </div>
        </div>
        <p class="mt-8">对知识工作者来说，知识管理很有必要。然而不同的知识管理实践，有效性会非常不同。仅依赖大脑记忆，容易不长久。写在纸质本上，大量笔记再也难以整理。用上笔记软件，又容易患上收集癖，甚至带来知识焦虑。要做好知识管理，看起来是一件非常复杂的事，同时很难长期坚持。</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/01.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">钢铁侠</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">前端开发</p>
          </div>
        </div>
        <p class="mt-8">知识工作者希望短平快地吸收新知识，最终却要么被知识付费所收割，买了但不学；要么被各种内容平台诱惑，本为学习而来，却变成消磨时间。桃李是真正期望做长线服务，深度挖掘痛点的产品。</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/04.jpeg" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Jane Doe</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Mobile dev</p>
          </div>
        </div>
        <p class="mt-8">桃李给了我机会，让我深入理解学习的重要性。过去几十年，随着科技进步，每个行业的知识都出现了爆炸性发展。为了保持知识的更新，知识工作者不得不经常学习，但在职场中并不总是在工作时间提供这样的机会，知识工作者还是需要投入额外的时间来进行充电学习，即使他并不能从技能提升中直接获得回报。</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/06.jpeg" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">深夜书店</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">管理者</p>
          </div>
        </div>
        <p class="mt-8">桃李不言而成蹊，桃李实验室是真心希望帮助用户。一个人的才能和知识不会自动的转化为成果，一个人的才能，只有通过有条理、有系统的工作，才有可能产生效益。这个过程中，知识工作者需要学会自我管理，不断的提升效率。特别是对个体知识工作者，更需要严格自我管理，因为你就是你自己的 CEO。</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/05.jpeg" alt="user avatar" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">随机不应变</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">产品经理</p>
          </div>
        </div>
        <p class="mt-8">生活中类似我这样的情况比比皆是，工作中每年都有一批小伙伴去固定报考一些证件的考试，每次也是到了快要考试的前一个月进行临时准备，当然从结果上看不会很乐观。还有很多人想学摄影，一开始先出去拍了几张照片，然后相机就压箱底了。随机学习出现的频率多了，不免让我在想一个问题，我们到底因何而学习，学习又会对我们产生什么改变。桃李在试图探索并解决这个问题。</p>
      </div>

    </div>
  </Container>
</div>